<p>
    Python peut être considéré comme une calculatrice électronique.
    Il faut faire attention au sens du signe =. En informatique (contrairement
    aux mathématiques), le signe égal désigne une affectation. 
    L'expression évaluée à droite du signe = sera stockée dans la variable
    qui est indiquée à gauche du signe =
</p>
<p>
    Ici, par exemple, voici le déroulé du programme
</p>
<ul>
    <li>la valeur 5 est stockée dans la variable a</li>
    <li> a + 3 est évalué à 8. 8 est stocké dans la variable b</li>
    <li> 2 + a*b est évalué à 2 + 5*8 soit 42 (la priorité des opérations 
        est respectée)
    </li>
    <li>Enfin, a + 4 est évalué à 9 (a valant 5) puis stocké dans la variable a
        la valeur de a est donc maintenant 9
    </li>
    <li> Enfin, on affecte 3,14 à b. Le séparateur décimal en python est le point, et 
        non pas la virgule (notation anglo-saxonne)
    </li>
</ul>