<p>
    Python peut effectuer des divisions euclidiennes (ou divisions entières)
    comme vous avez appris à le faire à l'école primaire. Dans cet exemple,
    on fait la division de 17 par 3. 17 divisé par 3 fait 5 et il reste 2 
    (17 = 5 * 3 + 2 )
</p>
<ul>
    <li>Le symbole // effectue la division entière </li>
    <li>Le symbole % (se lit modulo) donne le reste de la division entière </li>
</ul>