<p>
    Python permet aussi de manipuler des chaines de caractères.
    Analysons le programme
</p>
<ul>
    <li> la première instruction, ligne 3, stocke le texte
        <b>Bonjour le monde</b> dans la variable de nom texte
    </li>
    <li>À la ligne suivante, l'instruction <b>print(texte)</b> va 
    afficher ce texte à l'écran
    </li>
    <li>
        La ligne suivante modifie le contenu de la variable texte.
        Le symbole d'addition, avec des chaines de caractères, va 
        effectuer la concaténation (c'est à dire la mise bout à bout)
        de chaînes de caractères. <b>texte+"!"</b> sera évalué en
        <b>Bonjour le monde!</b> qui sera stocké dans la variable texte.
    </li>
    <li>
        La ligne suivante affiche donc <b>Bonjour le monde!</b>
    </li>
    <li>
        La dernière ligne affiche le type de la variable texte. C'est 
        une chaine de caractère. En anglais, on dit "string" et le type 
        envoyé est donc <b>&lt;class 'str'&gt;</b>
    </li>
</ul>