<p>L'instruction while permet de répéter un bloc
    d'instruction tant qu'une condition est vérifiée.
    Sa syntaxe est de la forme
    <pre><code class="python"> while condition :
    instructions
</code></pre>
    La plupart du temps, l'utilisation d'une boucle while comporte trois étapes :
</p>
<ul>
    <li>
        l'intialisation. Ici, c'est d'avoir une variable i dans laquelle on stocke initialement
        la valeur 0 
    </li>
    <li>
        la condition de terminaison. Ici, tant que i contient une valeur strictement plus petite que
        10, on éxécutera les instructions en dessous. À 9, on éxécutera le bloc d'instruction. À 10,
        on passera à la suite
    </li>
    <li>
        La mise à jour (en général à la fin du bloc d'instruction). Ici, à chaque passage dans la boucle,
        on ajoute 1 à la valeur stockée dans i.
    </li>
</ul>
<p> Le programme ici affichera donc successivement les valeurs suivantes : 0 1 2 3 4 5 6 7 8 9. Ensuite, 
    la variable <b>i</b> prend la valeur 10 et la condition n'est plus vérifiée : on passe à la suite.
    Le programme affichera <b>C'est fini</b>
</p>