<p>
    Ce programme sert à savoir si un utilisateur est majeur
</p>
<ul>
    <li>ligne 3, input sert à demander son age à l'utilisateur et stocke la réponse dans la variable 
        nombre
    </li>
    <li>
        la fonction <b>input()</b> retourne toujours une chaine de caractère comme valeur
        la fonction <b>int()</b> transforme cette valeur en nombre entier à la ligne 4, et stocke 
        le résultat dans la variable n.
    </li>
    <li>
        les lignes suivantes effectuent un test que l'on peut résumer ainsi :
        <ul>
        <li>Si l'age est 18 ou plus, on est majeur</li>
        <li>Sinon, on est mineur</li>
    </ul>
    </li>

</ul>