<p>
    Une liste est un endroit pour stocker un ensemble de variables. 
    Si l'on compare souvent une variable à une boîte où l'on range 
    des valeurs, une liste peut être perçue comme une étagère.
</p>
<p>
    Pour déclarer une liste, on utilise les crochets. La ligne 3 du programme
    déclare une liste des jours de la semaine. On a fait une erreur sur le mercredi
    et on a oublié le dimanche ...
</p>
<p>
    À la ligne 5, la fonction <b>len()</b> renvoie la longueur de la liste. 
    Ici, c'est donc 6 (on a oublié le dimanche ...)
</p>
<p>
    À la ligne 6, on affiche l'élément de la liste dont l'indice 
    est un. Pour cela, on utilise la notation
    <pre><code class="python">jours[1]</code></pre>
    C'est le mardi qui est affiché. En effet, <b>
        la numérotation d'une liste commence toujours à 0
    </b>. Les éléments sont donc numérotés ici de 0 à 5.
</p>
<p>
    À la ligne 7, on modifie le troisième élément de la liste (d'indice 2 donc)
    pour mettre mercredi. Un élément de liste <b>est</b> une variable, et donc 
    peut être modifié
</p>
<p>
    À la ligne 8, on ajoute un élément à la fin de la liste grâce à la méthode append
    appliquée à l'objet liste.
</p>
<p>
    Et enfin, on demande à Python d'afficher la liste.
</p>