<p>
    La fonction <b>range</b> fabrique une séquence de nombre. Dans sa forme la plus simple,
    elle prend un seul argument n, et fera la séquence des nombres de 0 à n, n étant exclus.
</p>
<p>
    Dans l'exemple ci-contre, à la ligne 3, la fonction range va définir une séquence de nombre
    de 0 à 10 exclus, donc 0, 1, ..., 8 et enfin 9.
</p>
<p>
    La fonction print à la ligne 4 sera donc éxecutée 10 fois, et affichera tous les nombres 
    de 0 à 9
</p>
<div class="alert alert-info">
    <p>
        Lorsque l'on appelle <b>range(n)</b>, on a n nombre, de 0 à n-1
    </p>
</div>
