<p>
    La fonction <b>range</b> peut aussi prendre deux arguments :
</p>
<ul>
    <li> le début de la séquence de nombre (inclus) </li>
    <li> la fin de la séquence de nombre (exclus) </li>
</ul>
<p>
    Dans l'exemple ci-contre, à la ligne 3, l'appel <b>range(1,10)</b>
    va créer une séquence de nombre, qui commence à 1 et va jusqu'à 10 (exclus), 
    donc tous les nombres entiers de 1 à 9
</p>
<p>
    Le programme dans son ensemble va afficher 1, 2, ..., 8 et enfin 9
</p>