<p>
    La fonction <b>range</b> peut aussi être utilisé avec 3 arguments. 
    Ceux ci représentent alors :
</p>
<ul>
    <li> le début de la séquence (inclus)</li>
    <li> la fin de la séquence (exclue)</li>
    <li> l'incrément à chaque étape de la séquence (i.e. combien on ajoute)</li>
</ul>
<p>
    Cela peut avoir de multiples applications.
</p>
<p>
    On peut compter par exemple de 5 en 5. L'appel <b>range(5,21,5)</b> à la ligne 4 va créer la séquence de nombre 5, 10, 15, 20. 
</p>