<p>
    La fonction range avec 3 arguments 
    permet aussi de créer des séquences de nombres en ordre décroissant pour peu que l'on 
    utilise un incrément négatif. 
    On peut par exemple fabriquer  un compte à rebours en utilisant <b> -1 </b> comme incrément. L'appel
    <b>range(100,-1,-1)</b> à la ligne 3 va construire la séquence d'un compte à rebours qui va commencer à 100 et 
    ira jusqu'à 0 (-1 est exclus) 
</p>
<p>
    Ce programme affichera les nombres de 100 à 0, séparés par des "...". le <b>print</b> à la ligne 4 ne va pas 
    à la ligne grâce au paramètre <b>end=""</b> qui remplace le saut de ligne par une chaine de caractères vide. 
    Enfin, une fois le compte à rebours achevé, la fusée décolle !
</p>
