<p>
    La fonction <b>range</b> est très utilisée en combinaison avec la fonction <b>len</b>
    qui permet d'avoir la longueur d'un tableau pour parcourir le tableau.
</p>
<p>
    Dans l'exemple ci contre, on crée à la ligne 3 un tableau contenant 4 éléments. 
    la longueur du tableau est donc 4, et les indices des éléments du tableau 
    iront de 0 à 3.
</p>
<p>
    À la ligne 5, on utilise <b>range(len(tableau))</b>. <b>len(tableau)</b> vaut 4 (la 
    longueur du tableau). <b>range(len(tableau))</b> construira donc la séquence de nombre 
    de 0 à 3, c'est à dire l'ensemble des indices du tableau 
</p>
<p>
    Utiliser la boucle <b>for</b> avec <b>range</b> et <b>len</b> permet donc de parcourir 
    un tableau en utilisant les indices, comme on l'avait fait avec while. 
</p>