<p>
    Il est courant de vouloir créer une liste reliée à une autre liste par une opération. 
    Imaginons par exemple que l'on ait une liste de nombre, et on veut créer une nouvelle liste 
    avec tous les carrés de ces nombres 
</p>
<p>
    Les lignes 5 à 8 de l'exemple ci-contre indiquent la façon usuelle de le faire :
</p>
<ul>
    <li>On crée une liste vide <i>(ligne 6)</i></li>
    <li>On parcoure la liste initiale avec la boucle for <i>(ligne 7)</i></li>
    <li>Pour chaque élément de la liste initiale, on stocke son carré dans la nouvelle liste <i>(ligne8)</i></li>
</ul>
<p>
    Cette opération courante peut être raccourcie en utilisant la syntaxe des <b>listes par compréhensions</b>.
    On peut résumer ces opérations en une seule ligne, comme on le voit à la ligne 11.
</p>
<ul>
    <li> les crochets indiquent que l'on crée une liste</li>
    <li> le for entre les crochets indiquent que la liste sera crée par compréhension</li>
    <li> <b>n**2</b> indique que l'on prendra bien le carré de chaque <b>n</b> de la liste initiale </li>
</ul>
<div class="alert alert-info">
    <p>
        La création de liste par compréhension est un raccourci syntaxique pour créer une liste à partir d'une
        autre liste
    </p>
</div>