<p>
    Lorsque l'on crée une liste par compréhension, on peut filtrer les éléments de la liste
    en incluant un test avec <b>if</b> sur les éléments de la liste.
</p>
<p>
    Dans l'exemple ci contre, <b>nombres</b> est une liste de nombres. On souhaite
    créer une nouvelle liste, nommée
    <b>positifs</b> qui contiendra uniqument les nombres positifs issus de cette liste
</p>
<p>
    Les lignes 5 à 9 indiquent la façon de faire avec une nouvelle liste et une boucle for
</p>
<p>
    La ligne 12 est le raccourci qui permet de faire cette création par compréhension en une seule ligne.
</p>
<div class="alert alert-success">
    <p>
        Remarque : on peut combiner cela avec une opération, pour obtenir par exemple 
        les carrés de nombres positifs de la liste initiale
    </p>
    <pre><code class="python">carres_positifs = [n**2 for n in nombres if n>=0]</code></pre>
</div>
