<p>
    La fonction minimum définie ici retourne le plus petit élement d'une liste. La seule contrainte
    est que la liste ne doit pas être vide.
</p>
<p>
    La fonction prend un paramètre : <b>liste</b>, qui est la liste dont on recherche le plus 
    petit élément
</p>
<p>
    Ligne 4, on initialise la recherche en disant que le premier élément est le plus petit. On
    stocke le plus petit élément connu de la liste dans la variable <b>mini</b>.
    <i>NB : c'est pour cela que la liste ne doit pas être vide</i>
</p>
<p>
    Ligne 5, on parcourt l'ensemble de la liste avec une boucle for. <b>element</b> prendra donc 
    successivement toutes les valeurs de la liste
</p>
<p>
    Ligne 6 et 7, on compare <b>element</b> avec <b>mini</b>. Si <b>element</b> est plus petit, on a trouvé une
    valeur plus petite que le minimum connu dans la liste, et on stocke cette valeur dans la variable <b>mini</b>
</p>
<p>
    Quand on a fini de parcourir la liste, on est assuré que le plus petit élément est celui dans <b>mini</b>.
    La fonction renvoie ce résultat à la ligne 8
</p>
<div class="alert alert-info">
    <h6>remarque :</h6>
    <p>
        L'algorithme n'est pas optimal dans la mesure où l'on commence par comparer le premier 
        élément de la liste avec lui même. Ce n'est pas très grave pour deux raisons : 
    </p>
    <ul>
        <li> Tout d'abord, on s'intéresse à la manipulation de grandes quantités de données. Une opération de comparaison, si par 
            ailleurs on en a plusieurs milliers, cela ne fait pas une  grande différence</li>
        <li>
            Si on souhaite mettre de côté ce cas, il faut réécrire le test en utilisant les indices, ce qui alourdira le code
            à la lecture, et n'apporte finalement qu'une amélioration très faible.
        </li>
    </ul>
</div>