<p>
    La fonction <b>position_minimum</b> donnera la position du plus petit élément
    dans la liste (via son indice)
</p>
<p>
    La fonction prend un seul paramètre, la liste <b>liste</b> qui ne doit pas être vide 
    (sinon le minimum n'a pas de sens)
</p>
<p>
    Ligne 4, on initialise la recherche en considérant que la position du plus petit élément est 
    le premier. C'est le seul élément que l'on considère. La position du plus petit élément 
    est stockée via son indice dans la variable <b>indice_min</b>
</p>
<p>
    Ligne 5, on effectue une boucle qui parcoure l'ensemble de la liste en utilisant les indices,
    grâce à <b>for</b>, <b>range</b> et <b>len</b>
</p>
<p>
    Ligne 6 et 7, on compare la valeur de la liste à la position courante avec la valeur de la liste 
    à la position <b>indice_min</b>. Si cette valeur est plus petite, on a un nouveau minimum, et on stocke 
    sa position dans <b>indice_min</b>
</p>
<p>
    Ligne 8, on retourne la position du minimum
</p>
<div class='alert alert-info'>
    <h6>remarque :</h6>
    <p>
        Si le minimum se trouve à plusieurs endroits de la liste, la position retournée est celle de la première
        occurence de ce minimum. Si on souhaite avoir la dernière occurence, il suffit de remplacer dans le test
        de comparaison le <b>&lt;</b> par un <b>&lt;=</b>
    </p>
</div>