<p>
    La fonction <b>tri_selection</b> prend un seul argument qui est le tableau à trier (<b>tab</b>). 
</p>
<p>
    À la ligne 4, <b>t = list(tab) </b> permet de créer une copie du tableau <b>tab</b> que l'on appelle 
    <b>t</b>
</p>
<p>
    L'algorithme du tri selection repose sur le fait que l'on a une partie de la liste qui est triée, 
    et une partie qui ne l'est pas. Ici, on va faire un tri ascendant, et on va faire croitre la partie
    triée par la gauche. Au début, il y a 0 élément de trié.  La variable <b>trie</b> à la ligne 6 
    indique deux choses :
</p>
<ul>
    <li> le nombre d'éléments triés </li>
    <li> l'indice de l'élément où va se mettre le prochain élément trié</li>
</ul>
<p>
    Ensuite, on cherche dans la partie non trié le plus petit élément. Cela se 
    fait dans les lignes 7 à 10 (voir la recherche de la position du minimum)
</p>
<p>
    Ligne 11, on place ce minimum à la fin de la partie non triée. 
</p>
<p>
    La partie triée grandit de 1, ce que l'on indique à la ligne 12
</p>
<p>
    La boucle while de la ligne 6 qui va jusqu'à la ligne 12 répéte ce processus 
    jusqu'à ce que la totalité du tableau soit trié.
</p>
<p>
    Et enfin, ligne 13, on retrourne le tableau trié.
</p>
<div class="alert alert-success">
    <p>
        Remarque : il existe de nombreuses variantes possibles de ce code.
        On peut en particulier décider de rechercher le plus grand et de le placer à la fin, au lieu 
        de chercher le plus petit et de le placer au début.
        On peut avoir pour variable le nombre d'éléments déjà triés ou le nombre d'éléments restant 
        à trier. Ces vrariantes ne modifient pas le principe de l'algorithme, 
        ni le résultat ou le nombre d'opérations.
    </p>
</div>