<p>
    Le tri insertion est aussi appelé le tri du joueur de cartes. Il fonctionne de la façon suivante :
</p>
<ul>
    <li>la partie de gauche est la partie triée. Au début, seul le premier élément est trié</li>
    <li>la partie de droite est la partie non triée.</li>
    <li>On prend le premier élément de la partie non triée, et on va le mettre à la bonne place 
        dans la partie non trié. Pour cela, on l'échange avec son voisin de gauche tant 
        que le voisin de gauche est plus grand.
    </li>
</ul>
<p>
    Ligne 4, l'instruction <b>t = list(tab)</b> crée une copie de la liste passée en paramètre afin 
    de ne pas modifier le tableau initial.
</p>
<p>
    Ligne 5, la variable <b>nb_trie</b> indique à la fois le nombre d'éléments triés (au début, un seul)
    et l'indice du premier élément que l'on va trier
</p>
<p>
    La boucle qui va de la ligne 6 à la fin va trier tous les éléments du tableau les un après les autres.
</p>
<p>
    Ligne 7, la variable <b>pos</b> indique quelle est la position de l'élément que l'on est en train de 
    trier
</p>
<p>
    Tant que l'élément en train d'être trié n'est pas complétement à gauche du tableau, 
    (ou à sa place), on continue (ligne 8)
</p>
<p>
    Ligne 9, on compare l'élément avec son voisin de gauche. S'il est plus petit, on fait l'échange
    (ligne 10) puis on indique que la position de l'élément à trier est décalé de 1 vers la gauche (ligne 11)
</p>
<p>
    Si jamais l'élément à trier est plus grand que son voisin, ça veut dire qu'il est à sa place et
    on utilise le <b>break</b> pour sortir de la boucle (ligne 12 et 13)
</p>
<p>
    Une fois ces comparaisons faites, on a augmenté la taille de la zone triée de 1 (ligne 14)
</p>
<p>
    Quand on a tout trié, on retourne le tableau trié (ligne 15)
</p>
<div class="alert alert-info">
    Le tri par insertion est mauvais en moyenne (il est de complexité quadratique) mais il est 
    bon quand la liste est déjà pratiquement triée (sur une liste déjà triée, il est de complexité linéaire)
</div>